html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Poppins', sans-serif;
  /* background: linear-gradient(to left, skyblue, rgb(224, 151, 224)); */
  /* background: linear-gradient(to left, #2d99ea, #566ce4); */
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@tailwind base;
@tailwind components;
@tailwind utilities;